.pokedex {
  display: flex;
  gap: 40px;
}

.list-pokemon {
  width: 50%;
}

.list-captured {
  width: 50%;
}

.cardpokemon {
  width: 70%;

  border-radius: 15px;
  color: rgb(76, 0, 255);
  background-color: white;
  box-shadow: 0 1px 3px rgba(205, 9, 9, 0.75);
}

.cardpokemon img {
  display: block;
  margin: 10px auto;
}
